#head {
  background: black;
  background-color: green;
  position: absolute;
}

.tail {
  background: black;
  background-color: blue;
  position: absolute;
}

#board {
  border: 1px black solid;
  position: relative;
}

#apple {
  position: absolute;
}